.header {
	text-align: center;
	font-family: 'Old Standard TT', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 60px;
	color: #e8eaed;
	padding-top: 40px;
}
.dark {
	color: #092337;
}

.light {
	color: #e8eaed;
}
